.label
  color gray4
  font-size 0.875rem
  line-height 1.25rem

.input
  padding padding
  margin-bottom 18px
  &:focus
    border solid blue 2px
  outline none
  border solid gray 2px
  border-radius border-radius;
  transition 0.3s

.input2
  width 100%
  padding padding
  margin-top 25px
  margin-bottom 25px
  &:focus
    border solid blue 2px
  outline none
  border solid gray 2px
  border-radius border-radius;
  transition 0.3s

  font-size 1.125rem;
  line-height 1.75rem;

.input3
  padding padding
  margin-bottom 18px
  &:focus
    border solid blue 2px
  outline none
  border solid gray 2px
  border-radius border-radius;
  transition 0.3s

.btn-primary
  cursor pointer
  padding padding
  background-color green
  color white
  border none
  border-radius border-radius;
  &:hover
    background-color gray4
  &:disabled
    background-color gray4
  transition 0.3s

.btn-secondary
  cursor pointer
  padding padding
  background-color red
  color white
  border none
  border-radius border-radius;
  &:hover
    background-color gray4
  &:disabled
    background-color gray4
  transition 0.3s

.btn-float
  position fixed
  width 80px
  height 80px
  bottom 40px
  right 40px
  cursor pointer
  padding padding
  background-color green
  color white
  border none
  border-radius border-radius3
  &:hover
      background-color gray4
  transition 0.3s

.btn-side
  width 100%
  cursor pointer
  padding padding

  display flex
  flex-direction column
  justify-content center
  align-items center

  color white

  border none
  border-top 1px solid light-blue;
  border-bottom 1px solid light-blue;

  text-align center
  font-size 0.75rem;
  line-height 1rem;

  background none
  &:hover
    background-color dark-blue

  transition 0.3s

.btn-menu
  cursor pointer

  color gray3
  &:hover
    color blue

  border none
  background none
  transition 0.3s
  
.h3
  margin-bottom 42px

.h4
  margin-bottom 20px

.h5
  margin-top 42px
  color blue