.text-white
  color white

.text-blue
  color blue

.text-dark-blue
  color dark-blue

.text-gray
  color gray
    
.text-gray2
  color gray2

.text-gray3
  color gray3

.text-gray4
  color gray4

.text-red
  color red

.text-green
  color green

.text-normal
  font-family Gilroy-Normal

.text-bold
  font-family Gilroy-Bold

.bg-dark-blue
  background-color dark-blue

.bg-red
  background-color red

.bg-blue
  background-color blue

.bg-yellow
  background-color yellow

.bg-gray
  background-color gray

.bg-gray2
  background-color gray2

.bg-gray3
  background-color gray3

.bg-gray4
  background-color gray4

.bg-green
  background-color green